h2.h2-theme {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #054857;
    padding: 0;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.filter-default {
    border: 1px solid #E3EFF1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.filter-default ul {
    display: flex;
    flex-direction: column;
}

.filter-default li {
    list-style: none;
    width: 100%;
    height: 48px;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    /* padding-left: 15px; */
}

.filter-default ul img {
    width: 16px;
    height: 16px;
}

.filter-default ul button {
    border: none;
    background-color: #FFFFFF;
    margin-left: 18px;
    cursor: pointer;

    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #042026;
}

.filter-default ul label {
    background-color: #fff;
    margin-left: 18px;
    cursor: pointer;

    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #042026;
}

.filter-default ul a {
    background-color: #fff;
    margin-left: 18px;
    cursor: pointer;

    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #042026;
}



.filter-item {
    height: 48px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border: 1px solid #E3EFF1;
    padding-left: 15px;
}

.filter-item:first-child {
    border-radius: 10px 10px 0 0;
}

.filter-item:last-child {
    border-radius: 0 0 10px 10px;
}

.filter-item input {
    outline: none;
    border: 1px solid #AAC0C5;
}

.filter-item span {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #042026;
    margin-left: 15px;
}

#filter-pop {
    position: fixed;
    bottom: 100%;
    transition: bottom 0.3s ease-out;
    width: 90%;
    margin: 0 5%;
}

#filterClose, #eventsMenuClose {
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #E3EFF1;
    border-radius: 10px;
}



.cur-point {    cursor: pointer;    }

.pads {    padding: 15px;    }

.bg-white {    background-color: #fff;    }

.no-border {    border: none !important;    }

#create-post, #mod-menu, #add-event {
    background-color: #fff;
    max-height: 85%;
    position: fixed;
    bottom: -120%;
    transition: bottom 0.3s ease-out;
    width: 100%;
    margin: 0;
    border-radius: 10px;
}

#sub-pop, #black-list-pop, #events-menu {
    position: fixed;
    bottom: -120%;
    transition: bottom 0.3s ease-out;
    /* width: 90%;
    margin: 0 5%; */
    width: calc(100% - 32px);
    margin: 0 16px;
}

#create-post  {
    max-height: 85%;
}

#add-event {
    height: 650px;
}

#create-post {
    padding-bottom: 32px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.dg-button {
    width: 140px;
    height: 40px;
    border-radius: 8px;
}

.dark-button {
    border: none;
    background: #054857;
    color: #fff;
}

.white-button {
    background-color: #fff;
    color: #000;
    border: 1px solid #567F88;
}

.dg-button:hover {
    background-color: #3498db;
}

#mod-menu button {
    border: none;
    background-color: #fff;
}

#mod-menu li:last-child {    margin-top: 100px;    }

#mod-menu .menu-head {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}

#mod-menu .menu-head h3 {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    /* font-size: 14px; */
    line-height: 16px;
    color: #567F88;
    /* margin-top: 16px; */
    margin-bottom: 32px;
}

.pop-appear {
    z-index: -1;
    opacity: 0;

    position: fixed;
    top: 50%;
    margin-top: -25%;

    left: -120%;
    
    transition: all 0.2s ease-in 0s;
}

#events-menu img {
    width: 22px;
    height: 22px;
}

#events-menu button {
    color: #054857 !important;
}

#mod-result {
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
}

#mod-result .mod-container {
    padding: 24px 32px;
    text-align: center;
}

#mod-result h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #054857;
}

#mod-result p {
    font-style: normal;
    /* font-weight: 700; */
    font-size: 18px;
    line-height: 22px;
    color: #567F88;
}

#mod-result .mod-container button {
    width: 200px;
}

#add-event {
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#add-event .container {
    margin-top: 16px;
}

.uph3 {
    font-size: 1.17em;
    font-weight: bold;
    line-height: 16px;

    text-transform: uppercase;
    color: #7A969C;
}

.add-event-header {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.stick-to-bottom {
    position: absolute;
    bottom: 32px;
}