:root {
    --primeDarkBlue: #054857;
    --secGreyBlue: #567F88;
    --greyBack: #EFF5F5;
    --greySub: #AAC0C5;
    --blueLight: #2199CC;
    --padNorm: 8px;
    --padMid: 12px;
    --bigPreviewWidth: 227px;
    --bigPreviewHeight: 227px;
    --inputBGColor: #e3eff1;

    --font2: normal 500 11px/18px 'Montserrat';
    --font2Bigger: normal 500 16px/19px 'Montserrat';
    --searchHoverColor: #6ec8f41c;
}
