:root {
    --primeDarkBlue: #054857;
    --secGreyBlue: #567F88;
    --greyBack: #EFF5F5;
    --greySub: #AAC0C5;
    --blueLight: #2199CC;
    --padNorm: 8px;
    --padMid: 12px;
    --bigPreviewWidth: 227px;
    --bigPreviewHeight: 227px;
    --inputBGColor: #e3eff1;

    --font2: normal 500 11px/18px 'Montserrat';
    --font2Bigger: normal 500 16px/19px 'Montserrat';
    --searchHoverColor: #6ec8f41c;
}

textarea#txtarMomentDesc {
    width: 100%;
    height: 100px !important;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #CFE3E7;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 8px;
    padding: 8px;
}

textarea#txtarMomentDesc::placeholder {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #7A969C;
}

#moment_add_person {
    position: absolute;
    right: 15px;
    bottom: 15px;
    visibility: hidden;
}

#add-person-search {
    background-color: var(--inputBGColor, #e3eff1);
    border: none;
    border-radius: 6px;
    padding: 6px;
}

#add-person-search::placeholder {
    color: var(--greySub);
    font: var(--font2Bigger);
}

#add-person-gallery {
    flex-direction: row;
    align-items: flex-start;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

#add-person-gallery .slide-wrap {
    display: flex;
    /* flex-direction: column; */
    max-width: 348px;
    position: relative;
    flex-wrap: wrap;
    user-select: none;
}

#add-person-gallery .slide-wrap .slide-number {
    position: absolute;
    right: 25px;
    top: 25px;
    color: black;
    background-color: #fff;
    padding: 1px 5px;
    border-radius: 50%;
}

#add-person-gallery img.slide-preview {
    width: 324px;
    height: 324px;
    object-fit: cover;
    margin: 12px;
    border-radius: 6px;
    cursor: pointer;
}

#add-person-gallery img.slide-person {
    width: 37px;
    height: 37px;
    object-fit: cover;
    border: none;
    border-radius: 50%;
    margin: 12px 0 12px 12px;
    cursor: pointer;
    z-index: 9;
}

#add-person-gallery img.slide-person.slide-person-active {
    /* border: 2px solid var(--blueLight); */
    box-shadow: 0px 0px 5px 2px var(--blueLight);
}

#add-person-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#add-person-buttons a {
    padding: var(--padNorm) 14%;
    font: var(--font2Bigger);
    border-radius: 6px;
}

#add-person-cancel {
    color: #000;
    border: 1px solid var(--primeDarkBlue);
}

#add-person-submit {
    color: #fff;
    background-color: var(--primeDarkBlue);
}

#popAddPerson {
    position: fixed;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    left: 0;
    bottom: -100%;
    background-color: #fff;
    transition: bottom 0.3s ease-out;
}

#search-div-wrapper {
    display: flex;
    flex-direction: column;
    left: 12px;
    top: 52px;
    max-height: 75vh;
    border-radius: 6px;
    
    position: absolute;
    margin: 0px auto;
    max-width: 370px;
    /* box-shadow: 0 0 1px 2px #0000003b; */
    box-shadow: none;
    z-index: 10;
}

#searchDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* width: 100%; */
    max-height: 334px;
    overflow-x: hidden;
    overflow-y: scroll;
    /* margin: 12px; */
    border-radius: 6px;
    padding: 0 var(--padNorm);
}

#add-person-search-wrap .input-container input {
    background-color: var(--greyBack, #EFF5F5);
    border: none;
    border-radius: 6px;
    color: var(--greySub, #AAC0C5);
    font: var(--font2Bigger);
    width: 100%;
    padding: 8px;
}

#add-person-search-wrap .input-container input::placeholder {
    color: var(--greySub, #AAC0C5);
    font: var(--font2Bigger);
}

#add-person-search-wrap .input-container img {
    position: absolute;
    right: 0px;
    padding: 10px;
    cursor: pointer;
}

.add-person-wrapper {
    max-width: 368px;
    margin: 0 auto;
}

/* add person on img */

.pers-bulb {
    position: absolute;

    width: 12px;
    height: 12px;
    border-radius: 50%;
    border-left: 3px solid var(--blueLight);
    background-color: var(--blueLight);
    z-index: 10;
}

.pers-conn-line {
    border-left: 3px solid var(--primeDarkBlue);
    border-top: 3px solid var(--primeDarkBlue);
    border-radius: 8px 0 0 0;
    position: absolute;
    cursor: pointer;
}

.pers-conn-line-left {
    border-left: none;
    border-right: 3px solid var(--primeDarkBlue);
    border-radius: 0 8px 0 0;
}

/* persons search */

.pers-list-wrapper {
    border-bottom: 2px solid var(--inputBGColor);
    cursor: pointer;
}

.pers-list-wrapper:last-child {
    border-bottom: none;
}

.pers-list-wrapper:hover {
    background-color: var(--searchHoverColor);
}

.pers-list-wrapper img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border: none;
    border-radius: 50%;
    margin: 12px 12px 12px 0;
}

.pers-list-fio {
    font-family: 'Montserrat', sans-serif;
    color: var(--primeDarkBlue);
    font-weight: 600;
}

.pers-list-body {
    padding: var(--padMid);
}

.pers-list-birthdate {
    color: var(--secGreyBlue);
}

